@use '../utils/stylesForwarded' as frwd;

.badge--completed{
    background-color: frwd.$completed ;
}

.badge--ended{
    background-color: frwd.$ended;
}

.badge--active{
    margin-right: 0px;
    background-color: frwd.$active;
}